// set up a simple neutral simulation
initialize()
{
	// Mutation rate of chromosome 3R from https://popsim-consortium.github.io/stdpopsim-docs/stable/catalog.html#sec_catalog_DroMel
	initializeMutationRate(5.49e-09);
	// m1 mutation type: neutral - this may need to be changed for this Reuter simulation - (h) = 0.5 & (s) = 0.0. Denoted by "f" which is Distribution of fitness effects
	initializeMutationType("m1", 0.5, "f", 0.0);
	// g1 genomic element type: uses m1 for all mutations. Weight of 1.0. Named g1
	initializeGenomicElementType("g1", m1, 1.0);
	// uniform chromosome of length 32079331 bp
	initializeGenomicElement(g1, 0, 32079331);
	// Uniform recombination rate from https://popsim-consortium.github.io/stdpopsim-docs/stable/catalog.html#sec_catalog_DroMel
	initializeRecombinationRate(1.71642e-08);
}

// create a population of 5000 individuals
1 early()
{
	sim.addSubpop("p1", 5000);
}

// Output samples of 480 genomes across 2, 4, 8, 12, 20, 28, 36, 44, 56 genrations
2 late() {p1.outputSample(480);}
4 late() {p1.outputSample(480);}
8 late() {p1.outputSample(480);}
12 late() {p1.outputSample(480);}
20 late() {p1.outputSample(480);}
28 late() {p1.outputSample(480);}
36 late() {p1.outputSample(480);}
44 late() {p1.outputSample(480);}
56 late() {p1.outputSample(480);}

// Output the final fixed mutations at 56th generation & finish simulation
56 late()
{
	sim.outputFixedMutations();
	sim.simulationFinished();
}